$title-font: 'Playfair Display SC', serif;
$body-font: 'Montserrat', sans-serif;
$yellow: #ffbd00;
$black: #000;
$white: #fff;
$gray: #b9bfc5;

@mixin button($width, $height, $font-size) {
    width: $width;
    height: $height;
    border: 0;
    background-color: $gray;
    border: none;
    font-family: $body-font;
    text-align: center;
    font-size: $font-size;
    font-weight: 900;
    text-transform: uppercase;
    color: $white;
    opacity: 1;
    transition: background-color .3s, opacity .6s, color .3s;
    &.hide {
        display: none;
        opacity: 0;
    }
    &:hover {
        background-color: $yellow;
        color: $black;
    } 
}

@mixin input($width) {
    font-family: $body-font;
    font-size: 14px;
    width: $width;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 1px $gray solid;
    padding: 5px 10px;
}